body {
    height: 100%;
    overflow: hidden;
}

.grid-bg {
    background-size: 1.2em 1.2em;

    background-image: 
        -webkit-linear-gradient(0deg, #ABCED4 1px, transparent 1px),
        -webkit-linear-gradient(-90deg, #ABCED4 1px, transparent 1px);
    background-image: 
        -moz-linear-gradient(0deg, #ABCED4 1px, transparent 1px), 
        -moz-linear-gradient(-90deg, #ABCED4 1px, transparent 1px);
    background-image: 
        -ms-linear-gradient(0deg, #ABCED4 1px, transparent 1px), 
        -ms-linear-gradient(-90deg, #ABCED4 1px, transparent 1px);
    background-image: 
        -o-linear-gradient(0deg, #ABCED4 1px, transparent 1px),
        -o-linear-gradient(-90deg, #ABCED4 1px, transparent 1px);
    background-image: 
        linear-gradient(0deg, #ABCED4 1px, transparent 1px),
        linear-gradient(-90deg, #ABCED4 1px, transparent 1px);
}

#navbar {
    z-index: 200 !important;
}

#canvas {
    overflow: visible;
    position: relative;
    width: 100%;
}

#edit-comb-display {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: 300px;
}

.disabled {
    display: none !important;
    margin: 0 !important;
    padding: 0 !important;
    border: none !important;
}

/* From https://css-tricks.com/the-current-state-of-styling-scrollbars/ */

.scrollbar {
    overflow-y: scroll;
}

.scrollbar::-webkit-scrollbar-track
{
    border-radius: 10px;
    background-color: transparent;
}

.scrollbar::-webkit-scrollbar
{
    width: 12px;
    background-color: transparent;
}

.scrollbar::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    background-color: rgba(85,85,85,0.5);
}

/* From https://bootstrapious.com/p/bootstrap-sidebar */

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#sidebar {
    min-width: 125px;
    max-width: 125px;
    min-height: 100vh;
    z-index: 100 !important;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

#sidebar .sidebar-header {
    padding: 20px;
}

#sidebar ul.components {
    padding: 20px 0;
}

#sidebar ul p {
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
    color: rgba(0,0,0,.5);
    text-decoration: none;
}

#sidebar ul li a:hover {
    color: rgba(0,0,0,.9);
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #808a9a;
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
}