<!DOCTYPE html>
<html>
<head>
    <title>Error 401</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=DotGothic16&display=swap" rel="stylesheet">
</head>
<body style="position:relative;height:100vh;width:100vw;">
    <div style="position:absolute;top:50%;left:50%;transform: translate(-50%,-50%);font-family:'DotGothic16',sans-serif;">
        <h1 style="margin:auto;text-align:center;font-size:500%;">Error 401</h1>
        <h5 style="margin:auto;text-align:center;font-size:250%;">Unauthorized: your unique ID does not exist</h5>
    </div>
</body>
</html>
